<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">CUW Women's Soccer</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/players-list">View Players</a>
      </li>
      <div class="container mt-3"></div>
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/create-player">Add Player</a>
      </li>
      <div class="container mt-3"></div>
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/players-list">Find Player</a>
      </li>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>